@page
@model AuthentificationService.Pages.Account.AccessDeniedModel
@{
}
<div class="row">
    <div class="col">
        <h1>Accès refusé</h1>
        <p>Vous n'avez pas la permission d'accéder à cette ressource.</p>
    </div>
</div>