@page
@model AuthentificationService.Pages.Redirect.IndexModel
@{
}

<div class="redirect-page">
    <div class="lead">
        <h1>Vous allez maintenant être redirigé.</h1>
        <p>Lorsque vous serez redirigé, vous pourrez fermer cet onglet.</p>
    </div>
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUri" data-url="@Model.RedirectUri">
<script src="~/js/signin-redirect.js"></script>
